.resizable {
	border: 1px solid #ddd;
	font: 12px tahoma;
	border-collapse: collapse;
	text-align: center;
	padding: 10px; 
    width: 100%;
}

.resizable td {
	border: 1px solid #ddd;
	font: 12px tahoma;
	border-collapse: collapse;
	text-align: center;
	padding: 10px; 
}

.resizable th{
	border: 1px solid #ddd;
	font: 12px tahoma;
	border-collapse: collapse;
	text-align: center;
	padding: 10px; 
}

thead{
background:#13B06E;
}
tr:nth-child(even){
	background: #ccc;
}


.resizable th.resizing {
    cursor: col-resize;
}

